dotty-dict==1.2.1
elasticsearch==7.0.5
jsonschema==3.0.2
pymongo==3.9.0
tqdm==4.36.1
werkzeug==1.0.1
fhir.resources @ git+https://github.com/arkhn/fhir.resources@sv/fix-url-validation-exception#egg=fhir.resources

fhirpath_helpers @ git+https://github.com/arkhn/fhirpath_helpers@sv/es-mapping#egg=fhirpath_helpers
fhirpath @ git+https://github.com/arkhn/fhirpath@sv/handle-multiple-index#egg=fhirpath
