dotty-dict==1.2.1
elasticsearch==7.0.5
jsonschema==3.0.2
pymongo==3.9.0
tqdm==4.36.1
werkzeug==1.0.1

fhirpath_helpers @ git+https://github.com/nazrulworld/fhirpath_helpers@0f0c5001ef6060e6bf319e6a7fc6f09676712267#egg=fhirpath_helpers
fhirpath @ git+https://github.com/arkhn/fhirpath@5d4046a5e2da8b366b7a06e6f7b6979d8b1301f4#egg=fhirpath
